* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none; /* Hide the default cursor */
  }
  
  .custom-cursor {
    width: 25px;
    height: 40px;
    background: url('https://i.ibb.co/B5xV3Fp5/minimal-perfume-cursor.png') no-repeat center center / contain;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
    z-index: 9999;
  }
  
  .custom-cursor.spray {
    background: url('https://i.ibb.co/FLbz2JYQ/arrow2386.png') no-repeat center center / contain;
  }
  
  a, button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4081;
    color: white;
    border: none;
    cursor: none !important;
    text-decoration: none;
    border-radius: 5px;
  }
  
  button:hover, a:hover {
    background-color: #d81b60;
  }
  